@using Ecommerce.Entity;
@model IEnumerable<ProductMedia>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(t => t.ProductId)</th>
        <th>@Html.DisplayNameFor(t => t.Photo)</th>
        <th>Edit</th>
    </tr>
    @foreach (ProductMedia item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(t => item.ProductId)</td>
            <td><img src="~/Images/@item.Photo" class="pro-img-box" style="width:100px" height="100" /></td>          
            <td>           
                <a href="~/Admin/Media/Edit/@item.ProductMediaId" class="btn btn-danger">Edit</a>
                <a href="~/Admin/Media/Delete/@item.ProductMediaId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>


